
@{
    ViewBag.Title = "Index";
}

<h2>Generuj Raporty</h2>

<div class="col-md-12">
    <div class="row" style="padding-bottom:30px;">
        <h3>Magazyn</h3><br />
        <a href="@Url.Action("Store", "Report")" class="btn btn-default">Stan Magazynu</a>
        <a href="@Url.Action("Medicine", "Report")" class="btn btn-default">Dostępne Leki</a>
    </div>

    <div class="row" style="padding-bottom:15px;">
        <h3>Sprzedaż</h3><br />
        @using (Html.BeginForm("SellHistory", "Report", FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
            <div class="row">
                <div class="col-md-4">
                    <label for="dateTo">Sprzedaż od:</label>
                    <input type="date" class="form-control" name="dateFrom" id="dateFrom">
                </div>
                <div class="col-md-4">
                    <label for="dateTo">Sprzedaż do:</label>
                    <input type="date" class="form-control" name="dateTo" id="dateTo">
                </div>
            </div><br/>
            <div class="row">
                <button action="submit" class="btn btn-default SaleButton" _href="@Url.Action("SellHistory", "Report")">Historia sprzedaży</button>
                <button action="submit" class="btn btn-default SaleButton" _href="@Url.Action("SellSummary", "Report")">Podsumowanie sprzedaży</button>
                <button action="submit" class="btn btn-default SaleButton" _href="@Url.Action("BuyHistory", "Report")">Historia kupna</button>
                <button action="submit" class="btn btn-default SaleButton" _href="@Url.Action("BuySummary", "Report")">Podsumowanie kupna</button>
            </div>
        }
    </div>

    <script>
        Date.prototype.toDateInputValue = (function () {
            var local = new Date(this);
            local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
            return local.toJSON().slice(0, 10);
        });

        $(document).ready(function () {
            var d = new Date();
            $('#dateTo').val(d.toDateInputValue());
            d.setDate(d.getDate() - 7);
            $('#dateFrom').val(d.toDateInputValue());

            $(".SaleButton").click(function () {
                $(this).closest("form").attr("action", $(this).attr("_href"));
            });
        })
    </script>
</div>
