@model IEnumerable<Apteka.Models.Operacja>
@{
    ViewBag.Title = "Operacje";
}
<br />
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <i class="fa fa-file-text fa-fw col-xs-1"></i>
            <div class="col-xs-11">Ostatnia sprzeda¿</div>
        </div>
    </div>
    <div class="panel-body">
        <table id="newestSales" class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Data)
                    </th>
                    <th>
                        Lek
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Rozchod)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Netto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Brutto)
                    </th>
                    <th>
                        Sprzedawca
                    </th>
                </tr>
            </thead>
        
            <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Data)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Lek.Nazwa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rozchod)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Netto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Brutto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AspNetUsers.UserName)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#newestSales').DataTable({
            "order": [[0, "desc"]],
            "language": {
                "url": "Scripts/lib/translations/jquery.datatables.pl.json"
            }
        });
    });
</script>

