<!DOCTYPE html>
<html ng-app="Apteka">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-sculap</title>
    @if (@ViewContext.RouteData.Values["Controller"].ToString().ToLower().Equals("order")) {
        @Scripts.Render("~/Scripts/lib/other/angular.js")
    }
    @Scripts.Render("~/bundles/js/dist")
    @Styles.Render("~/bundles/css/dist")
    @Styles.Render("~/bundles/less")
    @Scripts.Render("~/js/" + @ViewContext.RouteData.Values["Controller"].ToString().ToLower() + "Controller.js")
    <script type="text/javascript">
        var appInsights = window.appInsights || function (config) {
            function r(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, u = document, e = window, o = "script", s = u.createElement(o), i, f; for (s.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", u.getElementsByTagName(o)[0].parentNode.appendChild(s), t.cookie = u.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;) r("track" + i.pop()); return r("setAuthenticatedUserContext"), r("clearAuthenticatedUserContext"), config.disableExceptionTracking || (i = "onerror", r("_" + i), f = e[i], e[i] = function (config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t["_" + i](config, r, u, e, o), s }), t
        }({
            instrumentationKey: "1225bddf-a666-4d1b-8421-3adbd5e09835"
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body ng-controller="@ViewContext.RouteData.Values["Controller"].ToString().ToLower()">
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">E-sculap</a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            @DateTime.Now.Day-@DateTime.Now.Month-@DateTime.Now.Year
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> @User.Identity.Name <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Url.Action("ChangePassword", "Manage")"><i class="fa fa-fw fa-gear"></i> Zmień hasło</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="@Url.Action("LogOff","Account")"><i class="fa fa-fw fa-power-off"></i> Wyloguj</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">

                        <li>
                            <a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard fa-fw"></i> Panel główny</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Create", "Sale")"><i class="fa fa-bar-chart-o fa-fw"></i> Sprzedaj lek</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Store")"><i class="fa fa-database"></i> Magazyn</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-table fa-fw"></i> Leki<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("Index", "Sale")"> Podsumowanie sprzedaży</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Medicine")">Baza leków</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Create", "Medicine")">Dodaj lek</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Order")"><i class="fa fa-pencil-square-o"></i> Zamówienia</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i>Faktury<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("Index", "CheckInvoice")">Lista faktur</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Create", "Invoice")">Wprowadż fakturę</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Report")"><i class="fa fa-list-alt"></i> Raporty</a>
                        </li>
                        <li>
                            <a href="tables.html"><i class="fa fa-truck"></i> Hurtownie</a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("Index", "Warehouse")">Lista hurtowni</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Create", "Warehouse")">Nowa</a>
                                </li>
                            </ul>
                        </li>
                        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li>
                                <a href="#"><i class="fa fa-users fa-fw"></i> Użytkownicy<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="@Url.Action("Index", "Users")">Lista użytkowników</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Create", "Users")">Dodaj użytkownika</a>
                                    </li>
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
        <div id="page-wrapper">

            @RenderBody()
            @if (IsSectionDefined("Panel"))
            {
                <div class="panel" style="width:80%;margin:10px; background-color:#b0c4de; color:#000000">
                <div class="panel-heading">@RenderSection("PanelName", required: false)</div>
                    <div class="panel-body" style="background-color:#d3d3d3 ;color:#000000">
                        <div class="row" style="margin:25px;">@RenderSection("Panel", required: false)</div>
                    </div>
                <div class="panel-footer">@RenderSection("PanelFooter", required: false)</div>
            </div>
            }else
        {
            <div></div>
        }

        </div><!-- /#page-wrapper -->
    </div><!-- /#wrapper -->

    @RenderSection("scripts", required: false)
</body>
</html>
