@model Apteka.Models.Operacja


    <div>
        <h4>Operacja</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Data)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Data)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Przychod)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Przychod)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Rozchod)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Rozchod)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Netto)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Netto)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Brutto)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Brutto)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AspNetUsers.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AspNetUsers.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Lek.Nazwa)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Lek.Nazwa)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id_operacja }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
