@model Apteka.Models.CreateInvoiceModel

@{
    ViewBag.Title = "Create";
}
<style>
    .new-medicines div {
        margin-bottom: 20px;
        margin-left: 30px;
    }

    .medicines div {
        margin-bottom: 20px;
        margin-left: 30px;
    }

    .brutto::-webkit-inner-spin-button,
    .brutto::-webkit-outer-spin-button,
    .netto::-webkit-inner-spin-button,
    .netto::-webkit-outer-spin-button,
    .price::-webkit-inner-spin-button,
    .price::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Wprowadź nową fakturę</h1>
    </div>
</div>
<div ng-if="error!=''" class="alert alert-danger">{{ error }}</div>
@*@using (Html.BeginForm("Create", "Invoice", FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {*@
@using (Html.BeginForm()) {   
  <div class="row">
        <div class="col-md-1"></div>
        <label for="date-input" class="col-md-3">Wprowadź datę:</label>
    </div>
    <div class="row inputs">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            @Html.TextBoxFor(model => model.Date, new { @Value = DateTime.Now, id = "datepicker" })
            @*<input type="date" class="form-control datepicker" name="date">*@
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <label for="warehouse" class="col-md-3">Wybierz hurtownię:</label>
        <div class="col-md-1"></div>
        <label for="facture-id" class="col-md-3">Wprowadź numer faktury:</label>
    </div>
    <div class="row inputs">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <input type="hidden" name="model.warehouseId" id="warehouse-id" />
            @*@Html.DropDownListFor(model => model.WarehouseId, (IEnumerable<SelectListItem>)ViewBag.Id_hurtownia, null, htmlAttributes: new { @class = "form-control" })*@
            @*<select>
                @foreach (var item in @ViewBag.Id_hurtownia)
                {
                    <option value="@item.Id_hurtownia">@item.Nazwa</option>
                }
            </select>*@
            <input type="text" id="warehouse" class="form-control" />
            <div class="text-danger"></div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            @*@Html.EditorFor(model => model.InvoiceId, new { htmlAttributes = new { @class = "form-control" } })*@
            <input id="invoiceId" name="model.InvoiceId" type="text" class="form-control" />
        </div>
    </div>
    <div class="row">
        <table class="table" id="product-table">
            <tr>
                <th class="col-xs-1"> Lp. </th>
                <th class="col-xs-5"> Nazwa towaru </th>
                <th class="col-xs-1"> Ilość </th>

                <th class="col-xs-1"> Cena Netto </th>
                <th class="col-xs-1"> Wartość Netto </th>
                <th class="col-xs-1"> Vat </th>
                <th class="col-xs-1"> Wartość Brutto </th>
            </tr>
            @*@foreach (var item in Model.Operacja)
            {
                <tr>
                    <td>
                        @Html.DropDownList("Id_lek", null, htmlAttributes: new { @class = "form-control" })
                        @Html.DropDownListFor(modelItem => item.Lek, "Id_lek", null, htmlAttributes: new { @class = "form-control" })
                    </td>
                    <td>
                       Html.EditorFor(modelItem => item.Przychod)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Rozchod)
                    </td>
                    <td>
                        @Html.EditorFor(modelItem => item.Netto)
                    </td>
                    <td>
                        @Html.EditorFor(modelItem => item.Brutto)
                    </td>

                </tr>
            }*@
        </table>
        <div class="col-md-1 btn btn-success pull-right" id="add-row-button"><span class="glyphicon glyphicon-plus"></span></div>
    </div>
    <div class="row">
        <div class="col-md-7"></div>
        <label for="netto" class="control-label col-md-2">Kwota netto:</label>
        <div class="col-md-1"></div>
        <label for="brutto" class="col-md-2">Kwota brutto:</label>
    </div>
    @*<div class="row inputs">
        <div class="col-md-7"></div>
        <div class="col-md-2">
            <input id="netto" type="number" step="0.01" value="0"  name="model.Operacja[0].Netto" class="form-control" />
            <div class="text-danger"></div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
            @Html.EditorFor(model => model.Operacja[0].Brutto, new { htmlAttributes = new { @class = "form-control" } })
          
        </div>
    </div>*@
      @*<input id="brutto" type="number" value="0" ng-model="facture.Brutto" class="form-control" disabled />*@
    <div class="form-group">
        <div class="col-md-offset-2 col-md-6">
            <input type="submit" value="Dodaj" class="btn btn-success">
        </div>
    </div>
}

