@model IEnumerable<Apteka.Models.Faktura>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Numer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hurtownia.Nazwa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Numer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hurtownia.Nazwa)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.Id_faktura }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_faktura }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_faktura })*@
        </td>
    </tr>
}

</table>
