@model IEnumerable<Apteka.Models.Hurtownia>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>Hurtownie</title>
    <script type="text/javascript" src="~/Scripts/jquery.tablesorter.js"></script>
</head>

@section PanelName
{
    Spis hurtowni
}
@section Panel
{
<div class="input-group custom-search-form">
    <input type="text" id="filter" class="form-control" placeholder="Filtruj wśród hurtowni...">
    <span class="input-group-btn">
        <button class="btn btn-default" type="button">
            <i class="fa fa-search"></i>
        </button>
    </span>
</div><br/>
<table id="listagem" class="table table-striped tablesorter">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nazwa)<i class="fa fa-arrows-v"></i>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NIP)<i class="fa fa-arrows-v"></i>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NIP)
            </td>
            <td>
                @if (User.Identity.Name.Contains("admin"))
                {
                    <a href="@Url.Action("Edit", "Warehouse", new { Id = item.ID_hurtownia })">Edytuj</a>
                                  @Html.ActionLink("Szczegóły", "Details", new { id = item.ID_hurtownia })  
                }
               
            </td>
        </tr>
    }

</table>
}
@section PanelFooter
{
    <p>  </p>
}