@model IEnumerable<Apteka.Models.Lek>

<head>
    @*<script type="text/javascript" src="~/Scripts/jquery.tablesorter.js"></script>*@
    <title>Leki</title>
</head>
<div class="panel-esculap">
    <div class="panel-heading">
        <div class="row">
            <i class="fa fa-file-text fa-fw col-xs-1"></i>
            <div class="col-xs-11">Baza leków</div>
        </div>
    </div>
    <div class="panel-body">
        <table id="listagem" class="table table-striped tablesorter">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nazwa)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Postac)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Opakowanie)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Dawka)
                    </th>
                    <th>
                      Edycja
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nazwa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Postac)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Opakowanie)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dawka)
                        </td>
                        <td>
@if (User.Identity.Name.Contains("admin"))
{
                            @Html.ActionLink("Zmień", "Edit", new { id = item.Id_lek }) 
}
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#listagem').DataTable({
            "order": [[0, "asc"]],
            "language": {
                "url": "js/jquery.datatables.pl.js"
            }
        });
    });
</script>

