@model IEnumerable<Apteka.Models.Operacja>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Przychod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rozchod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Netto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brutto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lek.Nazwa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Przychod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rozchod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Netto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brutto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lek.Nazwa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_operacja }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_operacja }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_operacja })
        </td>
    </tr>
}

</table>
