@model IEnumerable<Apteka.Models.MedAvailability>
<style>
    .tip {
        position: relative;
        text-decoration: none;
    }

        .tip:hover:before {
            display: block;
            position: absolute;
            padding: .5em;
            content: attr(title);
            min-width: 120px;
            text-align: center;
            width: auto;
            height: auto;
            white-space: nowrap;
            top: -32px;
            background: rgba(0,0,0,.8);
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
            color: #fff;
            font-size: .86em;
        }

        .tip:hover:after {
            position: absolute;
            display: block;
            content: "";
            border-color: rgba(0,0,0,.8) transparent transparent transparent;
            border-style: solid;
            border-width: 10px;
            height: 0;
            width: 0;
            position: absolute;
            top: -8px;
            left: 1em;
        }
</style>
@{
    ViewBag.Title = "Index";
}
<div class="row">
    @section PanelName
{
        Produkty z niskim stanem magazynowym
    }
    @section Panel
{
    <div id="part-1">
        <h2> Brakujące produkty </h2>
        <div class="row">
            <button class="btn btn-default pull-right" type="button" data-toggle="modal" onclick="showModal()">Zaktualizuj cennik</button>
        </div>
        <table class="table" id="lowStockMedicines">
            <thead>
                <tr>
                    <th></th>
                    <th>Nazwa</th>
                    <th>Opakowanie</th>
                    <th>Dawka</th>
                    <th>Stan</th>
                    <th>Zapotrzebowanie dzienne</th>
                    <th>Ilość zamówienia</th>
                    <th>Dostępność</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                    <tr class="product-row-@item.Id">
                        <td class="status-cell-@item.Id"></td>
                        <td>@item.Nazwa</td>
                        <td>@item.Opakowanie</td>
                        <td>@item.Dawka</td>
                        <td>@item.Stan</td>
                        <td>@item.Zapotrzebowanie</td>
                        <td class="need-@item.Id">@item.DoZamowienia</td>
                        <td><a href="#@item.Id">@item.Hurtownie.Count hurtownie</a></td>
                    </tr>
                    if (@item.Hurtownie.Count > 0) {
                        <tr data-id="@item.Id" class="detail-row detail-row-@item.Id">
                            <td colspan="1"></td>
                            <td colspan="6">Wybierz najlepszą ofertę:</td>
                        </tr>
                        foreach (var offer in item.Hurtownie) {
                            <tr data-id="@item.Id" class="detail-row detail-row-@item.Id">
                                <td colspan="1"></td>
                                <td colspan="1"><button class="btn btn-default btn-xs add-btn pull-right"><i class="fa fa-plus"></i></button></td>
                                <td colspan="6" class="offer-desc" data-count="@(item.Zapotrzebowanie * 5)">@offer.opis</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
        <div class="row">
            <button class="btn btn-default pull-right" id="frw-button">Dalej <i class="fa fa-arrow-right"></i></button>
        </div>
    </div>
    <div id="part-2">
        <h2> Zamówienia </h2>
        <div id="orders" class="row" ng-repeat="hurtownia in hurtownias">
            <h3 class="pull-left">{{hurtownia.name}}</h3>
            <button class="btn btn-default pull-right" ng-click="generateProForm(hurtownia)"><i class="fa fa-file-pdf-o"></i> Generuj Zamówienie</button>
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-sm-1">Lp</th>
                        <th class="col-sm-4">Nazwa</th>
                        <th class="col-sm-2">Opakowanie</th>
                        <th class="col-sm-1">Dawka</th>
                        <th class="col-sm-1">Ilosc</th>
                        <th class="col-sm-2">Cena</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in hurtownia.produkty">
                        <td>{{$index+1}}</td>
                        <td>{{item.lek}}</td>
                        <td>{{item.opakowanie}}</td>
                        <td>{{item.dawka}}</td>
                        <td>{{item.ilosc}}</td>
                        <td>{{item.cena}} zł</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button class="btn btn-default" id="back-button"><i class="fa fa-arrow-left"></i> Popraw</button><br />
    </div>
    }
</div>


@Html.Partial("_UploadPartial")

