@model IEnumerable<Apteka.Models.MedAvailability>
<style>
.tip {
  position: relative;
  text-decoration: none;
}
.tip:hover:before {
  display: block;
  position: absolute;
  padding: .5em;
  content: attr(title);
  min-width: 120px;
  text-align: center;
  width: auto;
  height: auto;
  white-space: nowrap;
  top: -32px;
  background: rgba(0,0,0,.8);
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;

  color: #fff;
  font-size: .86em;
}
.tip:hover:after {
  position: absolute;
  display: block;
  content: "";
  border-color: rgba(0,0,0,.8) transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  top: -8px;
  left:1em;
}
</style>
@{
    ViewBag.Title = "Index";
}
@section PanelName
{
    Produkty z niskim stanem magazynowym
}
@section Panel
{
    <table class="table" id="lowStockMedicines">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Opakowanie</th>
                <th>Dawka</th>
                <th>Stan</th>
                <th>Zapotrzebowanie dzienne</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>@item.Nazwa</td>
                    <td>@item.Opakowanie</td>
                    <td>@item.Dawka</td>
                    <td>@item.Stan</td> 
                    <td>@item.Zapotrzebowanie</td>
                </tr>
            }
        </tbody>
    </table>
}
<script>
    $(document).ready(function () {
        $('#lowStockMedicines').DataTable({
            "order": [[3, "asc"]],
            "language": {
                "url": "js/jquery.datatables.pl.js"
            }
        });
    });
</script>